* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat';
    font-size: 12px;
    overflow: hidden;
}

ul {
    list-style: none;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: 600;
}

.logo {
    font-size: 40px;
}

.menu-links ul li {
    display: inline-block;
    padding-right: 20px;
    text-decoration: none;
}

.menu-links ul li a {
    text-decoration: none;
    color: #000;
}


.search, 
.cart {
   font-size: 20px;
}

.content {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: -1;
}

.title {
    flex: 0 0 100%;
    font-size: 200px;
    text-transform: uppercase;
    font-weight: 700;
}

.tagline {
    flex: 1;
    font-size:  30px;
    color: #999;
}

.pages {
    flex: 0;
    letter-spacing: 5px;
    color: #999; 
}

.pages span {
    font: size 60px;
    color: #000;
    font-weight: 600;
}

.more {
    flex:1;
}

.more a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    background: #000;
    padding: 10px 30px;
    border-radius: 10px;
}

.desc {
    flex: 0 0 32%;    
}

.desc p:nth-child(1) {
    font-size: 30px;
    margin-bottom: 20px;
}

.desc p:nth-child(2) {
    line-height: 2;
}

.desc span {
    color: #aecd31;
}
.juice {
    position: absolute;
    top: 55%;
    left: 50%;
    z-index: 1;
}    

.juice img {
    animation: float 4s ease-in-out infinite;
    max-height: 600px;
}

@keyframes float {
    0% {
        transform: translate(-50%, -46%);
    }
    50% {
        transform: translate(-50%, -54%);
    }
    100% {
        transform: translate(-50%, -46%);
    }
}

.leaves {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
}

.leaves img {
    max-width: 100%;
    max-height: 100%;
}

.leaves .layer:nth-child(1) {
    top: -100px !important;
    left: -480px !important;
}

.leaves .layer:nth-child(2) {
    top: 10px !important;
    left: 160px !important;
}

.leaves .layer:nth-child(3) {
    top: -300px !important;
    left: 160px !important;
}

.leaves .layer:nth-child(4) {
    top: -10px !important;
    left: 320px !important;
}

.leaves .layer:nth-child(5) {
    top: 200px !important;
    left: -320px !important;
}

.arrows .prev {
    position: absolute;
    top: 50%;
    left: 100px;
}

.arrows .next {
    position: absolute;
    top: 50%;
    right: 100px;
}

.arrows button {
    border: 1px solid #999;
    background: transparent;
    padding: 20px;
    border-radius: 50%;
    outline: none;
}

.arrows button:hover {
   color: #fff;
   background: #000;
}


.orange img{
    max-width: 100px;
    max-height: 100px;
}

$hoverEasing: cubic-bezier(0.23, 1, 0.32, 1);
$returnEasing: cubic-bezier(0.445, 0.05, 0.55, 0.95);


p.nice {
  line-height: 1.5em;
}

h1+p.nice, p.nice, p.nice+p {
  margin-top: 10px;
}

.cards {
  padding: 40px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-wrap {
  margin: 10px;
  transform: perspective(800px);
  transform-style: preserve-3d;
  cursor: pointer;
  background-color: #fff;
  
  &:hover {
    .card-info {
      transform: translateY(0);
    }
    .card-info p {
      opacity: 1;
    }
    .card-info, .card-info p {
      transition: 0.6s $hoverEasing;
    }
    .card-info:after {
      transition: 5s $hoverEasing;
      opacity: 1;
      transform: translateY(0);
    }
    .card-bg {
      transition: 
        0.6s $hoverEasing,
        opacity 5s $hoverEasing;
      opacity: 0.8;
    }
    .card {
      transition:
        0.6s $hoverEasing,
        box-shadow 2s $hoverEasing;
      box-shadow:
        rgba(white, 0.2) 0 0 40px 5px,
        rgba(white, 1) 0 0 0 1px,
        rgba(black, 0.66) 0 30px 60px 0,
        inset #333 0 0 0 5px,
        inset white 0 0 0 6px;
    }
  }
}

.card {
  position: relative;
  flex: 0 0 240px;
  width: 240px;
  height: 320px;
  background-color: #333;
  overflow: hidden;
  border-radius: 10px;
  box-shadow:
    rgba(black, 0.66) 0 30px 60px 0,
    inset #333 0 0 0 5px,
    inset rgba(white, 0.5) 0 0 0 6px;
  transition: 1s $returnEasing;
}

.card-bg {
  opacity: 0.5;
  position: absolute;
  top: -20px; left: -20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition:
    1s $returnEasing,
    opacity 5s 1s $returnEasing;
  pointer-events: none;
}

.card-info {
  padding: 20px;
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateY(40%);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  
  p {
    opacity: 0;
    text-shadow: rgba(black, 1) 0 2px 3px;
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  * {
    position: relative;
    z-index: 1;
  }
  
  &:after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 0%, rgba(#000, 0.6) 100%);
    background-blend-mode: overlay;
    opacity: 0;
    transform: translateY(100%);
    transition: 5s 1s $returnEasing;
  }
}

.card-info h1 {
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 700;
  text-shadow: rgba(black, 0.5) 0 10px 10px;
}